html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'League Spartan', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 40px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #dfe8f1;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 2px solid rgb(212, 203, 203);
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #dfe8f1;
  text-shadow: 1px 1px 2px black;
}

img {
	display: block;
	margin: 0 auto;
}